name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "docs/**"
      - "**.md"

env:
  CARGO_TERM_COLOR: always

jobs:

  make-codegen:
    name: Make / Codegen
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Cache Gradle
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Cache Rust
        uses: Swatinem/rust-cache@v1
      - name: Make Codegen
        run: make codegen
      - name: Create Codegen Tarball
        run: tar cvzf codegen.tar.gz smithy-rs/s3d/build/crates/
      - name: Upload Codegen Tarball
        uses: actions/upload-artifact@v2
        with:
          name: codegen.tar.gz
          path: codegen.tar.gz
          if-no-files-found: error

  make-debug:
    name: Make Build Debug
    needs: make-codegen
    runs-on: ubuntu-latest
    steps:
      - name: Install Fuse
        run: sudo apt-get install -y fuse libfuse-dev pkg-config
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Download Codegen Tarball
        uses: actions/download-artifact@v2
        with:
          name: codegen.tar.gz
      - name: Extract Codegen Tarball
        run: tar xvzf codegen.tar.gz
      - name: Cache Rust
        uses: Swatinem/rust-cache@v1
      - name: Make Build Debug
        run: make build
      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: s3d-debug
          path: target/debug/s3d
          if-no-files-found: error
      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: s3-debug
          path: target/debug/s3
          if-no-files-found: error

  make-release:
    name: Make Build Release
    needs: make-codegen
    runs-on: ubuntu-latest
    steps:
      - name: Install Fuse
        run: sudo apt-get install -y fuse libfuse-dev pkg-config
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Download Codegen Tarball
        uses: actions/download-artifact@v2
        with:
          name: codegen.tar.gz
      - name: Extract Codegen Tarball
        run: tar xvzf codegen.tar.gz
      - name: Cache Rust
        uses: Swatinem/rust-cache@v1
      - name: Make Build Release
        run: make build RELEASE=1
      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: s3d-release
          path: target/release/s3d
          if-no-files-found: error
      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: s3-release
          path: target/release/s3
          if-no-files-found: error

  make-test:
    name: Make Test
    needs: make-codegen
    runs-on: ubuntu-latest
    steps:
      # - name: Install Deps
      #   run: sudo apt-get install -y fuse libfuse-dev pkg-config
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Download Codegen Tarball
        uses: actions/download-artifact@v2
        with:
          name: codegen.tar.gz
      - name: Extract Codegen Tarball
        run: tar xvzf codegen.tar.gz
      - name: Cache Rust
        uses: Swatinem/rust-cache@v1
      - name: Make Test
        run: make test
